.configcon {
  position: absolute;
  display: grid;
  width: calc(100vw - 80px);
  height: auto;
  top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  grid-gap: 40px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.config-categories {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.config-category-header {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  text-align: center;
  padding: 2.5%;
}

.config-category {
  margin-top: -1px;
  font-weight: 700;
  color: rgb(var(--primary-color));
  background-color: rgb(var(--background-color));
  text-align: center;
  padding: 2.5%;
  border: .05vh solid rgb(var(--primary-color));
}

.config-category-selected {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
}

.active {
  background-color: rgb(var(--primary-color)) !important;
  color: rgb(var(--background-color)) !important;
}

.config-title {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: rgb(var(--primary-color));
  border: 0 transparent solid;
  border-bottom: .1vh solid rgb(var(--primary-color));
  margin-bottom: 10px;
}

.config-actions {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 8;
}

.config-actions {
  margin: 1vh;
}

.config-input,
.config-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.config-input input[type=text],
.config-input input[type=password],
.config-input input[type=number] {
  background-color: rgb(var(--background-color));
  border: 0.1vh solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
  padding: 15px 15px;
  width: calc(20vw + 65px);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 5px 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  -moz-appearance: textfield;
  outline: 0;
}

.config-input label {
  width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.config-action button {
  --basecolor: rgb(var(--primary-color));
  --hovercolor: rgb(var(--secondary-color));
  --basecolorop: rgba(var(--primary-color), 0.4);
  width: 30%;
  background-color: var(--basecolor);
  border: none;
  color: rgb(var(--background-color));
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 var(--basecolorop);
  box-shadow: 0 10px 30px 0 var(--basecolorop);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.config-action button:hover {
  background-color: var(--hovercolor);
}

.config-input button {
  --basecolor: rgb(var(--primary-color));
  --hovercolor: rgb(var(--secondary-color));
  --basecolorop: rgba(var(--primary-color), 0.4);
  background-color: var(--basecolor);
  border: none;
  color: rgb(var(--background-color));
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 ca var(--basecolorop);
  box-shadow: 0 10px 30px 0 var(--basecolorop);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.config-input button:hover {
  background-color: var(--hovercolor);
}