* {
  font-family: 'Roboto', sans-serif;
}

.creator {
  position: absolute;
  display: flex;
  width: calc(100vw - 80px);
  height: auto;
  top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}

.creator-options,
.creator-hours,
.creator-board {
  width: calc(100% - 80px);
}

.creator-header {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  text-align: center;
  padding: 1% 0;
  margin: .5% 0;
}

.creator-header span {
  position: absolute;
  margin: 0 auto;
  margin-top: -.5%;
  right: 0;
  left: 0;
}

.creator-header .creator-header-btns-right {
  cursor: pointer;
  position: relative;
  /* left: auto;
	right: 105px; */

  display: flex;
  align-items: center;
  float: right;
  right: 65px;
}

.creator-header .creator-header-btns-right>span {
  width: max-content;
  cursor: pointer;
}

.creator-options-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.creator-option-card,
.creator-option-card-draggable {
  border-radius: 0.5vh;
  background: rgb(var(--second-background-color));
  margin: 0 10px;
  margin-bottom: 0.5%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: max-content;
}

.creator-option-card {
  flex: 1 0 15%;
}

.creator-option-card-draggable {
  flex: 1 0 11%
}

.creator-option-card:not(.used) {
  color: #525252;
  font-size: 2rem;
}

body.dark-mode .creator-option-card {
  color: #dfdfdf;
}

.creator-option-card:hover {
  font-size: 1.9rem;
}

body.dark-mode .creator-option-card:hover {
  background-color: rgb(var(--background-hover-color));
}

.creator-option-card:not(.used):active {
  font-size: 1.7rem
}

.creator-option-card-con,
.creator-option-card-draggable>div {
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: max-content;
}

.creator-option-card-con input,
.creator-option-card-con p,
.creator-option-card-con select,
.creator-option-card-draggable>div>p {
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 12px;
  width: 150px;
}

.creator-option-card-con input,
.creator-option-card-con select {
  border-bottom: .3vh solid #727272;
}

body.dark-mode .creator-option-card-con input,
body.dark-mode .creator-option-card-con select {
  border-bottom: .3vh solid #818181;
  color: white;
}

.creator-option-card-con select {
  color: #858585;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body.dark-mode .creator-option-card-con select {
  color: #bdbdbd;
}

.creator-option-card-con select option {
  color: black;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.creator-option-card-con input::placeholder {
  color: #858585;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@keyframes LoadingBar {
  0% {
    transform: translateX(-100%)
  }

  45% {
    transform: translateX(0)
  }

  55% {
    transform: translateX(0)
  }

  90% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(100%)
  }
}

.loading-bar-con {
  display: none;
  position: fixed;

  right: 0;
  left: 0;
  margin: 0 auto;

  bottom: 0;
  height: 8px;
  width: calc(100% - 4px);
  border-radius: 5vh;
  overflow: hidden;
  background-color: rgb(var(--primary-color));
  margin-bottom: 1px;
}

.loading-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 6px;
  margin: 1px auto;
  overflow-x: hidden;
}

.loading-bar:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  animation: LoadingBar 1.5s ease-in-out infinite;
  background-color: rgb(var(--secondary-color));
}

.hour-collections {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.aantal-uren {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.aantal-uren label {
  margin-right: 5px;
}

.aantal-uren input,
.aantal-uren input:active {
  outline: 0;
  border: 0;
  border-bottom: .3vh solid #727272;
  background: transparent;
}

body.dark-mode .aantal-uren input,
body.dark-mode .aantal-uren input:active {
  border-bottom: .3vh solid #818181;
  color: white;
}

.hour-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}

.hour-card {
  flex: 1 content 10%;
  flex-direction: column;
  display: block;
  margin: 0 10px;
  margin-top: 5px;
  background: rgb(var(--second-background-color));
  border-radius: .5vh;
  text-align: center;
}

body.dark-mode .hour-card {
  color: #c7c7c7;
}

.hour-card .hour-card-title {
  margin: 5px;
  margin-top: .5vh;
}

.hour-card div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.hour-card input {
  width: min-content;
  outline: 0;
  border: 0;
  margin: 0 3px;
  border-bottom: .3vh solid #727272;
  background-color: transparent;
}

.hour-card input {
  border-bottom: .3vh solid #818181;
  color: #c7c7c7;
}

.hour-card input:active {
  outline: 0;
}

.creator-board-hour-table {
  position: absolute;
  width: 90px;
  display: flex;
  flex-direction: column;
}

.creator-board-hour-item {
  text-align: center;
  font-size: .8em;
  flex: 1 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator-board-card-table {
  position: absolute;
  margin-left: 90px;
  padding-bottom: 30px;
  width: calc(100% - 40px - 40px - 90px);
}

.creator-board-card-headers {
  display: flex;
  text-align: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: .5%;
}

.creator-board-card-headers span {
  flex: 1 0 19%;
  margin: 0 5px;
  user-select: none;
}

.creator-board-card-list {
  display: flex;
  flex-direction: row;
}

.creator-board-card-item {
  display: flex;
  flex-direction: column;
  flex: 1 0 19%;
  text-align: center;
  margin: 0 5px;
}

.card,
.creator-schema-card-draggable {
  border-radius: 0.5vh;
  background-color: rgb(var(--second-background-color));
  margin-bottom: 2%;
  line-height: .5;
  user-select: none;
}

.card>p:first-of-type,
.creator-schema-card-draggable p:first-of-type {
  font-size: 1rem;
  font-weight: bold;
}

.card>p:last-of-type,
.creator-schema-card-draggable p:last-of-type {
  font-size: .8rem;
}

.ui-draggable,
.ui-draggable-dragging {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.creator-option-card-draggable {
  z-index: 10;
  border: .05vh solid black;
}

.creator-board #import-label {
  cursor: pointer;
}

#creater-board-rooster-upload {
  display: none;
  width: 0;
  height: 0;
}

.card-options-wrapper {
  position: absolute;
  width: calc(20% - 10px);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 0.5vh;
}

.card-options-wrapper>div {
  margin: auto 3%;
}

.card-options-wrapper i {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.diff-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #d2d2d2;
  position: fixed;
  bottom: 0;
  right: 1vw;
  min-width: 16vw;
}

.diff-wrapper p {
  margin: 0;
}

body.dark-mode .diff-wrapper {
  background-color: #323232FF;
  color: white;
}

#diff-title {
  position: relative;
  background-color: #c3c3c3;
  text-align: center;
  padding: .75vh 0;
}

#diff-title span {
  position: absolute;
  right: .75vw;
}

body.dark-mode #diff-title {
  background-color: #4b4b4b;
}

.diff-item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: .5vh 0;
  justify-content: left;
}

.diff-item i {
  font-size: 1.5em;
  width: 15%;
  text-align: center;
}

.diff-info {
  display: flex;
  flex-direction: column;
  padding-left: .3vw;
  white-space: nowrap;
}

.modal-upload-rooster {
  width: 35vw;
  background-color: rgb(var(--second-background-color));
}

.modal-overwrite-schema,
.modal-error-main {
  width: 20vw;
  background-color: rgb(var(--second-background-color));
}

.modal-overwrite-schema div,
.modal-upload-rooster div,
.modal-error-main div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-error-main .modal-main-con>p {
  width: auto;
}