.dashboard-con {
  position: absolute;
  display: flex;
  width: calc(100vw - 80px);
  height: auto;
  top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.dashboard-categories {
  width: 15vw;
  margin-right: 40px;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard-overview {
  margin-bottom: 40px;
}

.dashboard-data {
  display: none;
}

.dashboard-category-header {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  text-align: center;
  padding: 2.5%;
}

.dashboard-category {
  margin-top: -1px;
  font-weight: 700;
  color: rgb(var(--primary-color));
  background-color: rgb(var(--background-color));
  text-align: center;
  padding: 2.5%;
  border: .05vh solid rgb(var(--primary-color));
}

.dashboard-category-selected {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
}

.active {
  background-color: rgb(var(--primary-color)) !important;
  color: rgb(var(--background-color)) !important;
}

.dashboard-overview-header {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  text-align: center;
  padding: .6% 0;
  margin-bottom: 0.5%;
}

.dashboard-overiew-itemwrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0 25%
}

.dashboard-overview-item {
  position: relative;
  flex: 1;
  padding: 2% 0;
  color: rgb(var(--primary-color));
  background-color: rgb(var(--second-background-color));
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

body:not(.dark-mode) .dashboard-overview-item {
  border: 0.1vh solid #bbbbbb;
}

.dashboard-overview-item-icon {
  display: inline-block;
  font-size: 50px;
  margin-right: 10px;
}

.dashboard-overview-item-label {
  display: inline-block;
  font-size: 35px;
}

.dashboard-data-header {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  text-align: center;
  padding: .5% 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dashboard-data-header div,
.dashboard-data-header button {
  text-align: center;
  position: absolute;
}

.dashboard-data-header button {
  color: rgb(var(--background-color));
  background-color: rgb(var(--primary-color));
  font-weight: 700;
  border: 0;
  font-size: medium;
}

.dashboard-data-header button:focus,
.dashboard-data-header button:active,
.dashboard-data-header button:hover {
  border: 0;
  outline: 0;
}

.dashboard-data-remove-selected {
  float: left;
  margin-left: 1%;
  cursor: pointer;
}

.dashboard-data-add {
  cursor: pointer;
  right: 1vw;
}

.dashboard-data-download {
  display: none;
  cursor: pointer;
  right: 3.4vw;
}
.dashboard-data-diff {
  display: none;
  cursor: pointer;
  right: 3.4vw;
}

.dashboard-data-item {
  font-weight: 700;
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));
  text-align: center;
  margin-bottom: 0.5%;
}

.dashboard-data-item-con {
  border: 0.1vh solid rgb(var(--primary-color));
  padding: .6% 0;
  margin-top: -1px;
}

.dashboard-data-item-text {
  color: rgb(var(--primary-color));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 24%;
}

.dashboard-data-item-text:nth-child(2) {
  justify-content: flex-start;
  margin-left: 0.5vw;
}

.dashboard-data-item-text:last-child {
  justify-content: flex-end;
}

.dashboard-data-item-checkbox {
  position: absolute;
  display: block;
  margin-left: 9px;
}

.dashboard-btn {
  cursor: pointer;
}

/* MODALS */
.modal-lokaal-data {
  width: 40vw;
  background-color: rgb(var(--background-color));
}

.modal-leerlingen-data,
.modal-leerkrachten-data,
.modal-klas-data,
.modal-leerlingen-add,
.modal-leerkrachten-add,
.modal-klas-add,
.modal-lokaal-add {
  width: 30vw;
  background-color: rgb(var(--second-background-color));
}

.modal-leerlingen-data div,
.modal-leerkrachten-data div,
.modal-klas-data div,
.modal-lokaal-data div,
.modal-leerlingen-add div,
.modal-leerkrachten-add div,
.modal-klas-add div,
.modal-lokaal-add div {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes LoadingBar {
  0% {
    transform: translateX(-100%)
  }

  45% {
    transform: translateX(0)
  }

  55% {
    transform: translateX(0)
  }

  90% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(100%)
  }
}

.loading-bar-con {
  display: none;
  position: fixed;

  right: 0;
  left: 0;
  margin: 0 auto;

  bottom: 0;
  height: 8px;
  width: calc(100% - 4px);
  border-radius: 5vh;
  overflow: hidden;
  background-color: rgb(var(--primary-color));
  margin-bottom: 1px;
}

.loading-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 6px;
  margin: 1px auto;
  overflow-x: hidden;
}

.loading-bar:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  animation: LoadingBar 1.5s ease-in-out infinite;
  background-color: rgb(var(--secondary-color));
}