@import './depends/colors.css';
@import './depends/text_hover.min.css';
@import './depends/notify.css';
@import './depends/modals.css';
@import './depends/spinner.css';
@import url('https://pro.fontawesome.com/releases/v5.14.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');