.error-container {
  width: max-content;
  height: max-content;
  margin: auto 40px;
  position: absolute;
  top: 90px;
  font-family: 'Arial';
}

.error-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.error-item:not(:first-child) {
  margin-top: 15px;
}

.error-item>label {
  text-align: left;
  font-size: 1rem;
  color: rgb(80, 80, 80);
  font-family: Helvetica;
  font-weight: 600;
}

body.dark-mode .error-item>label {
  color: rgb(220, 220, 220)
}

.error-item>select {
  background-color: rgb(var(--background-color));
  border: 0.1vh solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
  padding: 15px 15px;
  width: calc(20vw + 65px);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 5px 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.error-item option {
  border: 0.1vh solid rgb(var(--primary-color));
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: rgb(var(--primary-color));
}

.savebar {
  position: fixed;
  right: 0;
  top: 90px;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
}

.savebar-save {
  background-color: rgb(var(--second-background-color));
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(var(--second-background-color), 0.4);
  box-shadow: 0 10px 30px 0 rgba(var(--second-background-color), 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body.dark-mode .savebar-save {
  background-color: rgb(50, 50, 50);
  -webkit-box-shadow: 0px 0px #000;
  box-shadow: 0px 0px #000;
}

.savebar-save:hover,
.savebar-save:focus {
  background-color: rgb(var(--background-hover-color));
  outline: 0;
}

body.dark-mode .savebar-save:hover,
body.dark-mode .savebar-save:focus {
  background-color: rgb(70, 70, 70);
}


/* Modals */
.modal-leerkrachten-add,
.modal-klas-add,
.modal-lokaal-add {
  width: 30vw;
  background-color: rgb(var(--second-background-color));
}

.modal-leerkrachten-add div,
.modal-klas-add div,
.modal-lokaal-add div {
  display: flex;
  justify-content: center;
  align-items: center;
}