body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: rgb(var(--primary-color));
  background-color: rgb(var(--background-color));
}

*::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  display: none;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary-color));
  /* color of the scroll thumb */
  border-radius: 0px;
  /* roundness of the scroll thumb */
  border: 0;
  /* creates padding around scroll thumb */
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--primary-color)) #ffffff00;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container {
  margin: 0;
  padding: 0;
}

.navbar {
  display: block;
  color: rgb(var(--primary-color));
  margin: 0;
  font-size: 19.2px;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.nav-title {
  width: auto;
  display: inline;
  cursor: pointer;
  font-size: 21px;
}

.nav-list {
  width: 100%;
  position: relative;
  margin-top: 20px;
  z-index: 1;
  text-align: center;
}

.nav {
  color: rgb(var(--primary-color));
  font-weight: 700;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  padding: 10px !important;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-selected {
  font-weight: 700;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color)) !important;
}

.nav-right {
  margin-right: 10px;
  float: right !important;
}

.nav-left {
  margin-left: 10px;
  float: left !important;
}

.nav-center {
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.nav-dashboard,
.nav-logout,
.nav-user,
.nav-config {
  cursor: pointer;
}

.nav-user {
  z-index: 3;
}

.nav-dropdown {
  position: absolute;
  border: .1vh solid rgb(var(--primary-color));
  background-color: rgb(var(--background-color));
  z-index: 1;
  display: none;
  position: absolute;
  display: block;
  opacity: 0.0;
  top: 0;
}

/* Dark-mode switch */
.nav-darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
  margin: 5px;
}

.nav-darkmode-toggle span {
  margin: 0 0.5rem;
}

.nav-darkmode-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.nav-darkmode-toggle input[type="checkbox"]:checked+label {
  background: rgb(var(--primary-color));
}

.nav-darkmode-toggle input[type="checkbox"]:checked+label:after {
  left: 12.5%;
  transform: translateX(100%);
}

.nav-darkmode-toggle label {
  cursor: pointer;
  width: 75px;
  height: 24px;
  background: rgba(0, 0, 0, 0.27);
  display: block;
  border-radius: 40px;
  position: relative;
}

.nav-darkmode-toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}

.nav-darkmode-toggle .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}