body {
	--primary-color: 44, 62, 80;
	--secondary-color: 69, 97, 125;
	--background-color: 255, 255, 255;
	--second-background-color: 230, 230, 230;
	--background-hover-color: 197, 197, 197;
}

body.dark-mode {
	--primary-color: 160, 160, 160;
	--secondary-color: 255, 255, 255;
	--background-color: 25, 25, 25;
	--second-background-color: 35, 35, 35;
	--background-hover-color: 45, 45, 45;
}