.modals {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	font-weight: 500;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	top: 0;
}

.modals hr {
	margin: 0 auto;
	scale: 0.1vh;
}

.modal-con {
	display: block;
	position: absolute;
	height: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 1vh;
	margin-top: -100vh;
}

body:not(.dark-mode) .modal-con {
	box-shadow: 0 0 20px grey;
}

.modal-header,
.modal-main,
.modal-footer {
	min-height: 5vh;
}

.modal-header {
	display: flex;
	justify-content: left !important;
	align-items: center !important;
	font-size: 1.1rem;
	margin-left: 0.5vw;
}

.modal-close-standard {
	position: absolute;
	right: 3%;
	cursor: pointer;
}

.modal-main {
	flex-direction: column;
	align-items: flex-start !important;
}

.modal-main-con {
	flex-direction: column;
	margin: 0.7vh 0;
}

.modal-main-con label {
	text-align: left;
	width: calc(20vw + 35px);
	font-size: 1rem;
	color: rgb(80, 80, 80);
	font-family: Helvetica;
	font-weight: 600;
}

body.dark-mode .modal-main-con label {
	color: rgb(200, 200, 200);
}

.modal-main-con p {
	margin: 5px 20px 5px 20px;
}

.modal-main-con input:not([type='checkbox']),
.dropdown-button {
	background-color: rgb(var(--second-background-color));
	border: 0.1vh solid rgb(var(--primary-color));
	color: rgb(var(--primary-color));
	padding: 15px 15px;
	width: calc(20vw + 65px);
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 5px 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

.modal-main-con input:hover:not([type='checkbox']) {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.modal-main-con input:focus:not([type='checkbox']) {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	outline: 0;
}

.modal-main-con select {
	background-color: rgb(var(--second-background-color));
	border: 0.1vh solid rgb(var(--primary-color));
	color: rgb(var(--primary-color));
	padding: 15px 15px;
	width: calc(20vw + 65px);
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 5px 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.modal-main-con select:focus {
	outline: 0;
}

.modal-main-con input[type='button'] {
	background-color: rgb(var(--primary-color));
	border: none;
	color: rgb(var(--second-background-color));
	padding: 15px 15px;
	width: calc(5vw + 65px);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(var(--primary-color), 0.4);
	box-shadow: 0 10px 30px 0 rgba(var(--primary-color), 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.modal-main-con input[type='button']:hover {
	background-color: rgb(var(--secondary-color));
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.modal-main-con input[type='button']:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.dropdown-button {
	justify-content: space-between !important;
}

.modal-main-con[data-droptype] {
	cursor: pointer;
}

.dropdown-list {
	float: left;
	width: 100%;
	display: block;
}

.dropdown-listinput[type='search'] {
	padding: 5px 0;
}

.dropdown-list ul {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	width: calc(22.5vw + 65px);
	color: rgb(var(--primary-color));
	margin: 5px 0px 5px -10px;
}

.dropdown-list ul input[type='checkbox'] {
	position: relative;
	top: 1px;
	outline: 0.1vh solid rgba(var(--primary-color), 0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.dropdown-list ul input[type='checkbox']:hover {
	cursor: pointer;
}

.dropdown-label {
	max-width: calc(15vw + 65px);
	overflow: hidden;
	overflow-x: auto;
	justify-content: flex-start !important;
}

.dropdown-button > i {
	position: static;
}

.dropdown-label-item {
	padding: 3px;
	background-color: rgba(var(--primary-color), 0.2);
	border-radius: 3px;
	margin: 0 3px;
	z-index: 3;
}

.dropdown-label-item > span > i {
	margin-left: 3px;
	scale: 1;
}

.dropdown-label-item > span > i:hover {
	margin-left: 3px;
	scale: 1.25;
}
