.notify-wrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  right: 2%;
  top: 80px;
  width: auto;
  height: fit-content;
  overflow: hidden;
  overflow-y: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-none: none;
  -ms-user-select: none;
  z-index: 9999;
}

.notify-container {
  position: relative;
  width: 16vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 20px;
  background-color: #dddddd;
  overflow-y: hidden;
  border-left: .4vw solid #adadad;
  border-radius: .75vh 0 0 .75vh;
  opacity: 0.95;
}

body.dark-mode .notify-container {
  color: white;
  background-color: #555555;
  border-left: .4vw solid #303030;
}

.notify-container:first-child {
  margin-top: 0;
}

.notify-icon {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 0 .4vw;
  align-self: center;
  height: inherit;
  font-size: 32px;
}

.notify-success .notify-icon {
  color: #0ea52c;
}

.notify-error .notify-icon {
  color: #ff3939;
}

.notify-warning .notify-icon {
  color: #db812d;
}

.notify-info .notify-icon {
  color: #8d8d8d;
}

.notify-label {
  width: inherit;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1vw;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

body.dark-mode .notify-label {
  color: white;
}